<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Express movies test</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>
    <body>
        <h1>Express movies : test d'appication avec node js</h1>
        <div>Du contenu viendra s'ajouter ici.</div>
    </body>
</html>