<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Express movies test</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>
    <body>
        <% include ./partials/header %>

        <div class="central">
            <h1>Express Movies : le site des cinéphiles</h1>
            <div>
                Etes vous plutôt films ou séries ? <br>
                Peu importe, vous trouverez votre bonheur dans les deux cas !
            </div>
        </div>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>