<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express movies test template</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
    <% include ./partials/header %>

    <div class="central">
        <h1><%= title %></h1>
        <div class="french_movies">
            <% for(movie of movies) { %>
                <div><%= movie.title %> (<%= movie.year %>)</div>
            <% } %>
        </div>

        <br>
        <div>
            <form action="/movies" method="post">
                <label for="movietitle">Titre du film</label>
                <input type="text" name="movietitle" id="movietitle" />
                <label for="movieyear">Année du film</label>
                <input type="text" name="movieyear" id="movieyear" />
                <button type="submit" >Ajouter</button>
            </form>
        </div>
    </div>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', addMovie);

        function addMovie(event) {
            event.preventDefault();

            if ( fetch ) {
                fetch('/movies', {
                    method : 'POST',
                    body : new FormData(form)
                })
                    .then(checkStatus)
                    .catch(function (error) {
                        console.error('request failed', error);
                    })

            } else {
                //jQuery
            }
        }

        function checkStatus(response) {
            if (response.status >= 200 && response.status <= 300 ){
                let newMovieDiv = document.createElement('div');
                const movietitle = document.getElementById('movietitle').value;
                const movieyear = document.getElementById('movieyear').value;
                newMovieDiv.innerHTML = `${movietitle} (${movieyear})`;
                document.querySelector('.french_movies').appendChild(newMovieDiv);
                form.reset();
            }
        }
    </script>
</body>
</html>