<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express movies details test template</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
<h1>Express movies details template : test d'appication avec node js</h1>
<div>Du contenu de détails ici.</div>
</body>
</html>