<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express movies details test template</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>
<body>
    <% include ./partials/header %>

    <div class="central">
        <h1>Détails de <%= title %></h1>
        <div>
            <%= movieid %>
        </div>
    </div>

    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>